html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "sobre sobre sobre sobre"
        "fotos fotos fotos fotos"
        "footer footer footer footer";

    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* <!---------- CABEÇALHO ----------> */
.header{
    grid-area: header;
    background-color: #fff;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-width: 75px;
}

.header h1{
    font-size: 2.5rem;
    font-weight: 700;
    transition: 0.3s;
}

.header a:hover h1{
    color: coral;
}


/* <!---------- HERO ----------> */
.hero{
    grid-area: hero;
    height: 84vh;
    background: url('../images/chale-de-madeira.jpg') center center no-repeat;   
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero:after {
    content: url('../images/seta_preta.png');
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9;
    }
}

@media(max-width:425px) {
    .hero {
        height: 60vh;
    }

    .hero h2 {
        font-size: 2rem;
    }
}

/* <!---------- SOBRE ----------> */
.sobre{
    grid-area: sobre;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFF;
    max-width: var(--max-width-size);
    margin: 0 auto;
}

.sobre .item {
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sobre .item h3 {
    font-weight: 700;
    font-size: 4rem;
}

.sobre .item p {
    font-size: 1.8rem;
    margin: 30px 0;
    font-weight: 400;
}


.sobre .image {
    height: 100%;
    width: 100%;
}

.sobre .item .btn-know-more {
    font-size: 1.6rem;
    align-self: flex-start;
}

.sobre .item .btn-know-more:hover {
    font-weight: 700;
}

.sobre .image.rigth {
    background: url("../images/area-de-churrasco-com-piscina.jpg") center center no-repeat;
    background-size: cover;
    /* usado para imagem cobrir toda a área da div. */
}

.sobre .image.left {
    background: url("../images/fundo.jpg") center center no-repeat;
    background-size: cover;
    /* usado para imagem cobrir toda a área da div. */
}

@media(max-width: 425px) {
    .sobre .item {
        text-align: center;
    }

    .sobre {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}


/* <!---------- FOTOS ----------> */
.fotos {
    grid-area: fotos;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fotos img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

@media(max-width: 768px) {
    .fotos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media(max-width: 425px) {
    .fotos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

}

.fotos a:hover img {
    opacity: 0.8;
}


/* <!---------- RODAPÉ ----------> */
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    text-align: center;
    padding: 100px 0;
}

.footer h4 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.footer nav {
    margin: 50px 0;
}

.footer nav ul {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a {
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.3s;
}

.footer nav ul li a:hover {
    font-weight: 700;
    color: #fff;
}

.footer .social i {
    font-size: 2rem;
    transition: 0.3;
}

.footer .social a {
    margin: 20px;
}

.footer .social a:hover {
    color: #fff;
}